#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=SoapUI-5.8.0
Exec="/home/labuser/SmartBear/SoapUI-5.8.0/bin/SoapUI-5.8.0" %U
Icon=/home/labuser/SmartBear/SoapUI-5.8.0/.install4j/SoapUI-5.8.0.png
Categories=Application;
StartupWMClass=install4j-com-eviware-soapui-SoapUI
